*{
  margin: 0;
  padding: 0;
}
.flex{
  display: flex;
}
.body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{

  background-color: #fbfcfd;
  padding: 1rem 2rem;
  border-bottom: 0px solid #633649;
}
.sidebar{
   
    width: 15rem;
    height: calc(100vh - 52px);
    background-color: #fbfcfd;

    h3{
      margin-top: 0px;
      margin-left: 1rem;
    }
  ul{
    list-style: none;
    padding: 0.5rem 0.5rem;
    li {
      margin-bottom: 1rem;
      a{
        text-decoration: none;
        &.active{
          background-color: #aab2c6;
        }
      }
    }
  }
}

